<template>
  <div class="calculator">
    <div class="calculator__content">
      <div class="calculator__title">
        {{ $t('title') }}
      </div>
      <div class="calculator__form">
        <div class="calculator__section">
          <div class="calculator__label">
            {{ $t('employees') }}
          </div>
          <div class="calculator__field">
            <input class="calculator__input"
                   type="number"
                   :min="this.minCount"
                   :max="this.maxCount"
                   pattern="[0-9]"
                   v-model="calculatorValue"
                   @input="updateCalculatorData" />
          </div>
        </div>
        <div class="calculator__section">
          <div class="calculator__label">
            {{ $t('karma') }} <span class="calculator__percents"> <span class="js-savings-precent">{{ percent | round_one }}</span>%</span>
          </div>
          <div class="calculator__field">
            <div class="calculator__usd js-savings-usd">
              {{ saving | round | to_usd }}
            </div>
          </div>
        </div>
      </div>
      <div class="calculator__range">
        <vue-range-slider ref="slider"
                          :value="sliderValue"
                          :height="21"
                          :dotSize="28"
                          :min="sliderMin"
                          :max="sliderMax"
                          @slide-end="updateFromSlider" />
      </div>
    </div>
    <div class="calculator__result">
      <div class="calculator__details">
        <a target="blank" class="calculator__details-btn js-roi-link" :href="`https://roi.karmabot.chat/?employees=${calculatorValue}&amp;industry=technology&amp;hiring=agency&amp;ref=landing`">{{ $t('details') }}</a>
      </div>
    </div>
  </div>
</template>

<script>
  import 'vue-range-component/dist/vue-range-slider.css'
  import VueRangeSlider from 'vue-range-component'
  import calculate from '@/utils/karma_calculater.js'

  const SLIDER_MAX = 100,
        SLIDER_MIN = 0;

  export default {
    props: {
      minCount: {
        type: Number,
        default: 1
      },
      maxCount: {
        type: Number,
        default: 2000
      },
      value: {
        type: Number,
        default: 15
      },
    },
    components: {
      VueRangeSlider
    },
    data () {
      return {
        calculatorValue: this.value,
        saving: 0,
        percent: 0,
        sliderMax: SLIDER_MAX,
        sliderMin: SLIDER_MIN
      }
    },
    beforeMount () {
      this.updateCalculatorData(this.value)
    },
    computed: {
      min () {
        return Math.log(this.minCount)
      },
      max () {
        return Math.log(this.maxCount)
      },
      scale () {
        return (this.max - this.min) / (this.sliderMax - this.sliderMin)
      },
      sliderValue () {
        return this.sliderMin + (Math.log(this.calculatorValue) - this.min) / this.scale
      }
    },
    methods: {
      updateFromSlider (value) {
        this.calculatorValue = Math.round(Math.exp((value - this.sliderMin) * this.scale + this.min))
        this.updateCalculatorData()
      },
      updateCalculatorData () {
        let result = calculate(this.calculatorValue)
        this.percent = result.percent
        this.saving = result.saving
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "styles.scss"
</style>
