.calculator {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  max-width: 500px;
}
.calculator__content {
  background: #fff;
  border-radius: 10px 10px 0 0;
  padding: 30px;
}
.calculator__title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
}
.calculator__form {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calculator__label {
  font-size: 16px;
  display: block;
  margin-bottom: 8px;
}

.calculator__input {
  background: #fff;
  width: 110px;
  height: 40px;
  border: 1px solid #8ca0b3;
  border-radius: 4px;
  font-size: 16px;
  color: #3c5165;
  padding: 0 10px;
  transition: all ease 0.3s;
  box-shadow: none;
  appearance: none;
  flex: none;
  margin-right: 30px;

  &:focus {
    border-color: #3eb0e4;
  }
}

.calculator__range {
  width: 100%;
  margin-top: 20px;
}

.calculator__range ::v-deep {
  .vue-range-slider.slider-component .slider {
    width: 100%;
    background-image: url("~@/assets/pricing-range--narrow.svg");
    background-color: transparent;
    border-radius: 0;
  }

  .vue-range-slider.slider-component.slider-horizontal .slider-process {
    display: none;
  }

  .vue-range-slider.slider-component .slider .slider-dot-handle {
    background-color: #D69D43;
    background-image: url("~@/assets/pricing-range-handle.svg");
    background-position: center;
    cursor: pointer;
  }

  .vue-range-slider.slider-component .slider-tooltip-wrap .slider-tooltip {  // Temporary, while https://github.com/xwpongithub/vue-range-slider/issues/20
    display: none;
  }
}

.calculator__range .rangeslider__handle {
  width: 28px;
  height: 28px;
  margin-top: -4px;
}

.calculator__range .rangeslider__handle::after {
  display: none;
}

.calculator__result {
  border-radius: 0 0 10px 10px;
  padding: 20px 30px;
  background: #FCFAF5;
}

.calculator__savings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calculator__headline {
  line-height: 24px;
  color: #1C2E39;
  font-size: 18px;
  font-weight: bold;
}

.calculator__values {
  text-align: right;
}
.calculator__usd {
  font-size: 36px;
  font-weight: 500;
  color: #1C2E39;
  text-align: right;
}

.calculator__percents {
  text-align: right;
  color: #3E9E3D;
  font-size: 16px;
  font-weight: bold;
}
.calculator__details {
  text-align: center;
}
.calculator__details a {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  padding: 6px 8px;
  border-radius: 4px;
  color: #fff;
  transition: all ease 0.3s;
  outline: none;
  background: transparent;
  border: 1px solid;
}
.calculator__details a {
  color: #f2ae43;
}
.calculator__details a:hover {
  opacity: 0.75;
}
.calculator__details a:active {
  position: relative;
  top: 1px;
}

@media (max-width: 600px) {
  .calculator__form {
    flex-direction: column;
  }

  .calculator__label {
    text-align: center;
  }

  .calculator__input {
    margin: 0;
    width: 100%;
    margin-bottom: 25px;
  }

  .calculator__range .rangeslider {
    height: 18px;
  }

  .calculator__range .rangeslider__handle {
    margin-top: 0;
  }

  .calculator__headline {
    width: 110px;
    line-height: 18px;
    font-size: 17px;
  }

  .calculator__usd {
    font-size: 31px;
    text-align: center;
  }
}
