<template>
  <div id="app">
    <calculator :maxCount="max" :minCount="min" :value="value" />
  </div>
</template>

<script>
  import Calculator from './components/calculator'

  export default {
    name: 'App',
    components: {
      Calculator
    },
    created () {
      let query = this.$route.query;

      if (this.$route.path == '/ru') {
        this.$i18n.locale = 'ru'
      }

      if (query['max'] != undefined) {
        this.max = parseInt(query['max'])
      }

      if (query['min'] != undefined) {
        this.min = parseInt(query['min'])
      }

      if (query['value'] != undefined) {
        this.value = parseInt(query['value'])
      }
    },
    data () {
      return {
        value: undefined,
        max: undefined,
        min: undefined
      }
    }
  }
</script>

<style>
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    color: #1C2E39;
  }

  a {
    text-decoration: none;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    color: inherit;
  }

  input, a {
    outline: none;
  }
</style>
